/*
#00ac9d  light blue tile
#00467f  blue
#f1f1f1  White base
text
#a3a3a3
#e3e3e3

dark
#81a29



 */
.section_seperation{
	width: 100%;
	height: 100px;
}
.imageContainer{
	width: 100%;
	height: 650px;
	margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

}
.card-body {
    margin: auto;
    border: solid 1px #dbdad7;
    background-color: #ffffff41;
    width: 60%;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
}

body{
	margin: 0;
	font-family: "Open sans",sans-serif;
	background-color: #f1f1f1
	overflow-x: hidden;
	scroll-behavior: smooth;
}
h1{
	color: #00467f;
	text-align: left;
	margin-left: 100px;
}

p{
	text-align: left;
	margin-left: 80px;
	margin-right: 80px;
}

form{
	margin-left: 20px;
}
.menu{
	margin: 0;
	padding: 8px;
	height: 21px;
	background-color: #334a94;
}

.menu li{
	display: inline;
}

.button{
	font-family: Arial;
	font-size: 1em;
	font-style: none;
	color: #ffffff;
	padding: 8px;
	text-decoration: none;
}

.button:hover{
	background-color: #786ed4;
}

header{
	margin: 0;
	height: 17px;	
}


.theredimage {
	width: 100%;
	height: 100%;
}

